<!--  -->
<div class="header">
    <img src="../../../assets/images/logo_fff.png">
</div>
<div class="config-home">
    <div class="area"></div>
    <nav class="main-menu text-center">
        <div class="avatar">
            <a href="#">
                <img src="../../../assets/images/user.png">    
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/751678/skytsunami.png" alt="Skytsunami" /> -->
            </a>
        </div>
        <div class="dropdown">
            <a class="dropdown-toggle text-center" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <h1>James Watt</h1>
                <p>ADMIN</p>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-divider"></div>
                <a href="./examples/profile.html" class="dropdown-item">
                    <i class="fas fa-user-circle mr-2"></i>
                    <span>My profile</span>
                </a>
                <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" *ngIf="user?.role === 'admin'" (click)="routeTo('config')">
                      <i class="fas fa-tachometer-alt mr-2"></i>
                      <span>Dashboard</span>
                    </a> -->
                <div class="dropdown-divider"></div>
                <a href="./examples/profile.html" class="dropdown-item">
                    <i class="fas fa-cog mr-2"></i>
                    <span>Settings</span>
                </a>
                <!-- <a href="./examples/profile.html" class="dropdown-item">
                    <i class="ni ni-support-16"></i>
                    <span>Support</span>
                    </a> -->
                <div class="dropdown-divider"></div>
                <a href="" class="dropdown-item">
                    <i class="fas fa-shopping-cart mr-2"></i>
                    <span>Cart</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">
                    <i class="fas fa-sign-out-alt mr-2"></i>
                    <span>Logout</span>
                </a>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <hr />
        <ul class="pointer text-left">
            <li (click)="routeTo('')">
                <a>
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
            <li (click)="childRouteTo('config', 'dashboard')">
                <a>
                    <i class="fa fa-chart-line fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav" (click)="childRouteTo('config', 'users')">
                <a>
                    <i class="fa fa-users-cog fa-2x"></i>
                    <span class="nav-text">
                        Users
                    </span>
                </a>
            </li>
            <li class="has-subnav" (click)="childRouteTo('config', 'categories')">
                <a>
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Categories
                    </span>
                </a>
            </li>
            <li class="has-subnav" (click)="childRouteTo('config', 'products')">
                <a>
                    <i class="fa fa-product-hunt fa-2x"></i>
                    <span class="nav-text">
                        Products
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a>
                    <i class="fa fa-shopping-basket fa-2x"></i>
                    <span class="nav-text">
                        Orders
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a>
                    <i class="fa fa-user-tag fa-2x"></i>
                    <span class="nav-text">
                        Vendors
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a>
                    <i class="fa fa-warehouse fa-2x"></i>
                    <span class="nav-text">
                        Store
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a>
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <div style="margin-left:60px">
        <router-outlet></router-outlet>
    </div>
</div>