<div class="container-fluid">
  
  <!-- selected product details -->
  <div class="row mt-5 mb-5">
    <div class="col-md-5 text-center">
      <figure class="figure">
        <img [src]="selectedProduct.productImage" class="figure-img img-fluid rounded" [alt]="selectedProduct?.name">
        <figcaption class="figure-caption">{{ selectedProduct?.name |uppercase}}</figcaption>
      </figure>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-secondary" style="width: 100%;">Add To Cart</button>
        </div>
        <div class="col-md-6">
          <button class="btn btn-primary" style="width: 100%;">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <h1>{{ selectedProduct?.name |titlecase }}</h1>
      <div class="text-justify">
        <div class="general_details">
            <p>{{ selectedProduct?.description | titlecase}}</p>
        </div>
        <div class="manufacture_details">
          <h6>Manufacture Details</h6>
          <p> Brand: {{ selectedProduct?.manufacture_details.brand }} </p>
          <p> Model: {{ selectedProduct?.manufacture_details.model }} </p>
        </div>
        <div class="pricing_details">
          <h6>Price Details</h6>
          <p> Actual Price: <del><span>&#8377;</span>{{ selectedProduct.pricing_details.selling_price }}</del> / {{ selectedProduct.pricing_details?.unit }}</p>
          <p> Discount: {{ selectedProduct.pricing_details.discount }}% </p>
          <p> Our Price: <span>&#8377;</span> {{selectedProduct.pricing_details.selling_price - (selectedProduct.pricing_details.selling_price * 
              (selectedProduct.pricing_details.discount / 100))}} / {{ selectedProduct.pricing_details?.unit }}</p>
        </div>
        <div class="technical_details">
          <h6>Technical Details</h6>
          <p>{{ selectedProduct?.technical_details}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- similar products list -->
  <div class="row">
    <div class="col-md-12"><h2>Similar Products</h2></div>
    <ng-container *ngFor="let similarProduct of similarProducts">
      <div class="col-md-3" (click)="selectProduct(similarProduct)">
        <figure class="figure text-center">
          <img [src]="similarProduct.productImage" class="figure-img img-fluid rounded" [alt]="similarProduct?.name" style="height: 150px;">
          <figcaption class="figure-caption" style="font-size: 20px;">{{ similarProduct?.name |titlecase}}</figcaption>
        </figure>
      </div>
    </ng-container>
  </div>
</div>
