<!-- add category modal -->
<div id="addModal" class="w3-modal myModal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom myModal-content-sm">
        <header class="w3-container myModal-header">
            <button class="modal-close-btn w3-display-topright" (click)="toggleModal('addModal', 'none')">
                <i class="fas fa-times"></i>
            </button>
            <h3>Add Category</h3>
        </header>
        <div class="w3-container myModal-ccontainer" style="height: 190px !important;">
            <div class="container">
                <div class="row mt-4 mb-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Enter Name</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="newCategory.name"
                            placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <label>Enter Description</label>
                            <input type="textarea" class="form-control form-control-sm" [(ngModel)]="newCategory.description"
                            placeholder="Enter Decription">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="w3-container myModal-footer">
            <div class="footer-right text-right">
                <button type="button" class="btn primary-button mr-0" (click)="addCategory()">Save</button>
                <button type="button" class="btn secondary-button" (click)="toggleModal('addModal', 'none')">Cancel</button>
            </div>
        </footer>
    </div>
</div>

<!-- edit category modal -->
<div id="updateModal" class="w3-modal myModal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom myModal-content-sm">
        <header class="w3-container myModal-header">
            <button class="modal-close-btn w3-display-topright" (click)="toggleModal('updateModal', 'none')">
                <i class="fas fa-times"></i>
            </button>
            <h3>Update Category</h3>
        </header>
        <div class="w3-container myModal-ccontainer" style="height: 190px !important;">
            <div class="container">
                <div class="row mt-4 mb-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Enter Name</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="selectedCategory.name"
                            placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label>Enter Description</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="selectedCategory.description"
                            placeholder="Enter Decription">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="w3-container myModal-footer">
            <div class="footer-right text-right">
                <button type="button" class="btn primary-button mr-0" (click)="updateCategory()">Save</button>
                <button type="button" class="btn secondary-button" (click)="toggleModal('updateModal', 'none')">Cancel</button>
            </div>
        </footer>
    </div>
</div>

<!-- add and update subcategory modal -->
<div id="addEditSubCategoryModal" class="w3-modal myModal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom myModal-content-md">
        <header class="w3-container myModal-header">
            <button class="modal-close-btn w3-display-topright" (click)="toggleModal('addEditSubCategoryModal', 'none')">
                <i class="fas fa-times"></i>
            </button>
            <h3> {{selectedCategory.name |uppercase}} - Subcategories </h3>
        </header>
        <div class="w3-container myModal-ccontainer">
            <div class="container">
                <div class="row mt-4 mb-4">
                    <div class="col-md-12">
                        <button class="btn my-expand-btn" type="button" data-toggle="collapse" data-target="#addSubCategory" aria-expanded="false"
                        aria-controls="collapseExample">
                            <i class="fas fa-plus mr-1"></i> Add New Subcategory
                        </button>
                        <div class="collapse" id="addSubCategory">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Enter Name</label>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="newSubCategory.name" placeholder="Enter name"
                                            required>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Enter Description</label>
                                            <input type="text" class="form-control form-control-sm" [(ngModel)]="newSubCategory.description"
                                            placeholder="Enter Decription">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="header-right float-right">
                                            <label>&nbsp;</label>
                                            <button type="button" (click)="addSubcategory()" class="btn-round-sm"
                                                style="background-color: #ccc; vertical-align: middle;">
                                                <i class="fas fa-check mr-1"></i>
                                            </button>
                                            <button class="btn-round-sm" style="background-color: #ccc; vertical-align: middle;"
                                            (click)="resetForm()">
                                                <i class="fas fa-trash-alt mr-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn my-expand-btn" type="button" data-toggle="collapse" data-target="#updateSubCategory" aria-expanded="false"
                            aria-controls="collapseExample">
                            <i class="fas fa-pencil-alt mr-1"></i> Edit Existing Subcategory
                        </button>
                        <div class="collapse" id="updateSubCategory">
                            <div class="card card-body">
                                <div class="row">
                                    <ng-container *ngFor="let subcategory of selectedCategory.subCategories;">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Enter Name</label>
                                                <input type="text" class="form-control form-control-sm" [(ngModel)]="subcategory.name" [name]="subcategory.name"
                                                placeholder="Enter name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Enter Description</label>
                                                <input type="text" class="form-control form-control-sm" [(ngModel)]="subcategory.description"
                                                [name]="subcategory.description" placeholder="Enter Decription">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="header-right float-right">
                                                <button type="button" (click)="updateSubCategory(subcategory)" class="btn-round-sm"
                                                    style="background-color: #ccc; vertical-align: middle;">
                                                    <i class="fas fa-check mr-1"></i>
                                                </button>
                                                <button class="btn-round-sm" style="background-color: #ccc; vertical-align: middle;"
                                                (click)="deleteSubcategorybyId(subcategory)">
                                                    <i class="fas fa-trash-alt mr-1"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="w3-container myModal-footer">
            <div class="footer-right text-right">
                <button type="button" class="btn primary-button mr-0" (click)="updateCategory()">Save</button>
                <button type="button" class="btn secondary-button" (click)="toggleModal('addEditSubCategoryModal', 'none')">Cancel</button>
            </div>
        </footer>
    </div>
</div>

<main class="main">
    <div class="scroll-container">
        <div class="content-container">
            <section class="content-section">
                <div class="content-item">
                    <div class="content-header">
                        <h5>Categories</h5>
                        <a href="#" class="content-menu"><i class="stroke-more"></i></a>
                        <div class="header-right">
                            <button class="btn-round-sm" (click)="toggleModal('addModal', 'block')">
                                <i class="fas fa-plus mr-1"></i>
                            </button>
                            <button class="btn-round-sm" [disabled]="!canModified"
                                (click)="toggleModal('updateModal', 'block')">
                                <i class="fas fa-pencil-alt mr-1"></i>
                            </button>
                            <button class="btn-round-sm" [disabled]="!canModified && !isAllCategorySelected"
                            (click)="deleteCategoryById();">
                                <i class="fas fa-trash-alt mr-1"></i>
                            </button>
                            <button class="btn btn-primary" [disabled]="!canModified"
                            (click)="toggleModal('addEditSubCategoryModal', 'block')">
                                <i class="fas fa-bars mr-1"></i>
                                Subcategories
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card bg-default shadow" style="padding:20px; background-color:transparent">
                                <div class="table-responsive">
                                    <div class="myFilterInput">
                                        <input type="text" placeholder="Search..." id="myInput">
                                    </div>
                                    <table class="table align-items-center table-dark table-flush">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" class="text-left">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                        (click)="selectAllCategory()"
                                                        [(ngModel)]="isAllCategorySelected">
                                                        <label class="form-check-label" for="exampleCheck1">Name</label>
                                                    </div>
                                                </th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Created At</th>
                                                <th scope="col">Modified At</th>
                                                <th scope="col">Subcategories</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let category of categories;let i=index;">
                                                <tr>
                                                    <th scope="row" class="text-left">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input" (click)="selectCategory(category)"
                                                                [(ngModel)]="category.isSelected">
                                                            <label class="form-check-label" for="exampleCheck1">{{category?.name |titlecase}}</label>
                                                        </div>
                                                    </th>
                                                    <td>
                                                        {{category?.description}}
                                                    </td>
                                                    <td>
                                                        {{category?.createdAt |date: 'MMM d, y'}}
                                                    </td>
                                                    <td>
                                                        {{category?.updatedAt |date: 'MMM d, y'}}
                                                    </td>
                                                    <td>
                                                        <ng-container *ngFor="let subcategory of category?.subCategories">
                                                            <ul class="list-group list-group-flush myList">
                                                                <li class="list-group-item">{{subcategory?.name}}</li>
                                                            </ul>
                                                        </ng-container>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>