/* You can add global styles to this file, and also import other style files */
html, body{
  font-family: 'Hind Guntur', sans-serif;
}
/* loader css */
.myLoader {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 45%;
  left: 48%;
}

.myLoader div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: black;
  animation: myLoader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.myLoader div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.myLoader div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.myLoader div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes myLoader {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

.pointer {
  cursor: pointer !important;
}

/* disabled button */
.btn-disabled {
  opacity: 0.6;
}

/* basic button */
.btn-basic-sm {
  border-color: #ccc;
  color: white;
  margin: 0 5px;
  border-radius: 0.3rem;
}

.btn-basic-sm:hover {
  color: white;
  background-color: black;
  border-radius: 0.3rem;
}

/* round btn css start */
.btn-round-sm {
  padding: 6px 7px;
  margin: 0 5px;
  border-radius: 50%;
  height: 26px;
  border: none;
  width: 26px;
  color: black;
  background: white;
  outline: none;
  cursor: pointer;
}

.btn-round-sm:hover {
  color: white;
  background: black;
  cursor: pointer;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-round-sm:focus {
  outline: none !important;
}

.btn-round-sm i {
  font-size: 14px;
}

/* round-btn end */

/*table start*/
.table
{
    width: 100%;
    margin-bottom: 1rem;

    background-color: transparent;
}
.table th,
.table td
{
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
    text-align: center;
}
.table thead th
{
    vertical-align: bottom;

    border-bottom: none;
}
.table tbody + tbody
{
    border-top: 2px solid #e9ecef;
}
.table .table
{
    background-color: #f8f9fe;
}

.table-sm th,
.table-sm td
{
    padding: .5rem;
}

.table-bordered
{
    border: 1px solid #e9ecef;
}
.table-bordered th,
.table-bordered td
{
    border: 1px solid #e9ecef;
}
.table-bordered thead th,
.table-bordered thead td
{
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody
{
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd)
{
    background-color: rgba(0, 0, 0, .05);
}

.table-hover tbody tr:hover
{
    background-color: #f6f9fc;
}

.table-primary,
.table-primary > th,
.table-primary > td
{
    background-color: #d2d8f7;
}

.table-hover .table-primary:hover
{
    background-color: #bcc5f3;
}
.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th
{
    background-color: #bcc5f3;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td
{
    background-color: #fdfefe;
}

.table-hover .table-secondary:hover
{
    background-color: #ecf6f6;
}
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th
{
    background-color: #ecf6f6;
}

.table-success,
.table-success > th,
.table-success > td
{
    background-color: #c4f1de;
}

.table-hover .table-success:hover
{
    background-color: #afecd2;
}
.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th
{
    background-color: #afecd2;
}

.table-info,
.table-info > th,
.table-info > td
{
    background-color: #bcf1fb;
}

.table-hover .table-info:hover
{
    background-color: #a4ecfa;
}
.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th
{
    background-color: #a4ecfa;
}

.table-warning,
.table-warning > th,
.table-warning > td
{
    background-color: #fed3ca;
}

.table-hover .table-warning:hover
{
    background-color: #febeb1;
}
.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th
{
    background-color: #febeb1;
}

.table-danger,
.table-danger > th,
.table-danger > td
{
    background-color: #fcc7d1;
}

.table-hover .table-danger:hover
{
    background-color: #fbafbd;
}
.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th
{
    background-color: #fbafbd;
}

.table-light,
.table-light > th,
.table-light > td
{
    background-color: #e8eaed;
}

.table-hover .table-light:hover
{
    background-color: #dadde2;
}
.table-hover .table-light:hover > td,
.table-hover .table-light:hover > th
{
    background-color: #dadde2;
}

.table-dark,
.table-dark > th,
.table-dark > td
{
    background-color: #c1c2c3;
}

.table-hover .table-dark:hover
{
    background-color: #b4b5b6;
}
.table-hover .table-dark:hover > td,
.table-hover .table-dark:hover > th
{
    background-color: #b4b5b6;
}

.table-default,
.table-default > th,
.table-default > td
{
    background-color: #bec4cd;
}

.table-hover .table-default:hover
{
    background-color: #b0b7c2;
}
.table-hover .table-default:hover > td,
.table-hover .table-default:hover > th
{
    background-color: #b0b7c2;
}

.table-white,
.table-white > th,
.table-white > td
{
    background-color: white;
}

.table-hover .table-white:hover
{
    background-color: #f2f2f2;
}
.table-hover .table-white:hover > td,
.table-hover .table-white:hover > th
{
    background-color: #f2f2f2;
}

.table-neutral,
.table-neutral > th,
.table-neutral > td
{
    background-color: white;
}

.table-hover .table-neutral:hover
{
    background-color: #f2f2f2;
}
.table-hover .table-neutral:hover > td,
.table-hover .table-neutral:hover > th
{
    background-color: #f2f2f2;
}

.table-darker,
.table-darker > th,
.table-darker > td
{
    background-color: #b8b8b8;
}

.table-hover .table-darker:hover
{
    background-color: #ababab;
}
.table-hover .table-darker:hover > td,
.table-hover .table-darker:hover > th
{
    background-color: #ababab;
}

.table-active,
.table-active > th,
.table-active > td
{
    background-color: #f6f9fc;
}

.table-hover .table-active:hover
{
    background-color: #e3ecf6;
}
.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th
{
    background-color: #e3ecf6;
}

.table .thead-dark th
{
    color: #f8f9fe;
    border-color: #212121;
    background-color: #54585d;
}

.table .thead-light th
{
    color: #8898aa;
    border-color: #e9ecef; 
    background-color: #f6f9fc;
}

.table-dark
{
    color: #f8f9fe;
    background-color: #54585d;
}
.table-dark th,
.table-dark td,
.table-dark thead th
{
    border-color: #212121;
    font-weight: normal;
}
.table-dark.table-bordered
{
    border: 0;
}
.table-dark.table-striped tbody tr:nth-of-type(odd)
{
    background-color: rgba(255, 255, 255, .05);
}
.table-dark.table-hover tbody tr:hover
{
    background-color: rgba(255, 255, 255, .075);
}

@media (max-width: 575.98px)
{
    .table-responsive-sm
    {
        display: block;
        overflow-x: auto;

        width: 100%;

        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-sm > .table-bordered
    {
        border: 0;
    }
}

@media (max-width: 767.98px)
{
    .table-responsive-md
    {
        display: block;
        overflow-x: auto;

        width: 100%;

        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-md > .table-bordered
    {
        border: 0;
    }
}

@media (max-width: 991.98px)
{
    .table-responsive-lg
    {
        display: block;
        overflow-x: auto;

        width: 100%;

        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-lg > .table-bordered
    {
        border: 0;
    }
}

@media (max-width: 1199.98px)
{
    .table-responsive-xl
    {
        display: block;
        overflow-x: auto;

        width: 100%;

        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-responsive-xl > .table-bordered
    {
        border: 0;
    }
}

.table-responsive
{
    display: block;
    overflow-x: auto;

    width: 100%;

    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-responsive > .table-bordered
{
    border: 0;
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
}
/*table ends*/

/* config pages css start */
main.main {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  color: #EFEFEF;
  display: flex;
  flex-direction: column;
}

.content-container {
  /* margin: 0 50px; */
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  padding: 20px;
}
/* .content-container::before {
  width: 60px;
  height: 100%;
  content: '';
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  left: -60px;
}
.content-container::after {
  width: 60px;
  height: 100%;
  content: '';
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0;
  right: -60px;
} */

.scroll-container {
  overflow: auto;
  margin-top: 55px !important;
}


.user-dashboard {
  background: #F9F9F9;
  color: #343434;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-details-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 20px;
  flex: 0 0 auto;
  position: relative;
}
.user-details-container .user-settings {
  font-size: 34px;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  right: 10px;
}

nav.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
nav.main h5 {
  padding: 0 20px 10px;
  color: #484848;
  border-bottom: 1px solid #e3e3e3;
}
nav.main ul.nav-container {
  overflow: auto;
}
nav.main li.nav-item {
  overflow: hidden;
}
nav.main li.nav-item span {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #484848;
  background: #FFF;
  padding: 16px 20px 16px 40px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav.main li.nav-item span::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-radius: 50%;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav.main li.nav-item span::after {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e684';
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
nav.main li.nav-item:first-of-type span {
  border-top: none;
}
nav.main li.nav-item:last-of-type span {
  border-bottom: 1px solid #e3e3e3;
}
nav.main li.nav-item:first-of-type span::before {
  border-color: #28D8B2;
}
nav.main li.nav-item:first-of-type li a::before {
  background: #28D8B2;
}
nav.main li.nav-item:nth-of-type(2) span::before {
  border-color: #F47264;
}
nav.main li.nav-item:nth-of-type(2) li a::before {
  background: #F47264;
}
nav.main li.nav-item:nth-of-type(3) span::before {
  border-color: #56A1DB;
}
nav.main li.nav-item:nth-of-type(3) li a::before {
  background: #56A1DB;
}
nav.main li.nav-item:nth-of-type(4) span::before {
  border-color: #FBD046;
}
nav.main li.nav-item:nth-of-type(4) li a::before {
  background: #FBD046;
}
nav.main li.nav-item:nth-of-type(5) span::before {
  border-color: #735FA4;
}
nav.main li.nav-item:nth-of-type(5) li a::before {
  background: #735FA4;
}
nav.main li.nav-item ul.subnav {
  visibility: hidden;
  max-height: 0;
  transition: 0.25s ease;
  transition-property: max-height, opacity;
  opacity: 0;
}
nav.main li.nav-item ul.subnav a {
  display: block;
  width: 100%;
  text-transform: uppercase;
  color: #575757;
  padding: 16px 20px 16px 40px;
  position: relative;
}
nav.main li.nav-item ul.subnav a:hover {
  background: #efefef;
}
nav.main li.nav-item ul.subnav li a::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
nav.main li.nav-item.open span {
  border-bottom: 1px solid #e3e3e3;
}
nav.main li.nav-item.open span::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
nav.main li.nav-item.open ul.subnav {
  visibility: visible;
  max-height: 200px;
  opacity: 1;
}

header.main {
  padding: 24px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  flex: 0 0 auto;
  position: relative;
}
header.main::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, #252525, transparent);
}
header.main h5 {
  padding-left: 34px;
  font-size: 18px;
  position: relative;
}
header.main h5::before {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e66b';
  color: #D8D7D7;
  font-size: 28px;
  position: absolute;
  left: 0;
  top: -4px;
}
header.main form.input-container {
  display: flex;
  align-items: center;
}
header.main form.input-container label {
  width: 28px;
  height: 28px;
  font-size: 28px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}
header.main form.input-container label::before {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e618';
  color: #D8D7D7;
}
header.main form.input-container input[type="search"] {
  background: none;
  border: none;
  border-bottom: 1px solid #F9F9F9;
  line-height: 22px;
  width: 240px;
  color: #EFEFEF;
  font-size: 22px;
  font-weight: 300;
  display: none;
}

section.content-section {
  background-image: linear-gradient(to right, rgba(95, 99, 109, 0.5), rgba(76, 95, 113, 0.8));
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
}
section.content-section .content-item {
  display: flex;
  flex-direction: column;
}
section.content-section .content-item .content-header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #252525;
}
section.content-section .content-item .content-header h5 {
  padding-left: 20px;
  position: relative;
}
section.content-section .content-item .content-header h5::after {
  content: '';
  width: 8px;
  height: 8px;
  background: #F47264;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
section.content-section .content-item .content-header .content-menu {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 26px;
  height: 26px;
  font-size: 26px;
  color: #D8D7D7;
  overflow: hidden;
  text-align: center;
}
section.content-section .content-item .content-body {
  flex: 0 0 260px;
  display: flex;
  align-items: stretch;
}
section.content-section .content-item .content-body .content-body-item {
  flex: 1;
  border-right: 1px solid #252525;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
section.content-section .content-item .content-body .content-body-item h4 {
  color: #bab9b9;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
section.content-section .content-item .content-body .content-body-item .stat {
  text-align: left;
  font-size: 16px;
  font-weight: 100;
}
section.content-section .content-item .content-body .content-body-item .stat.negative::before {
  content: '-';
  color: #F47264;
  padding-right: 4px;
}
section.content-section .content-item .content-body .content-body-item .stat.positive::before {
  content: '+';
  color: #28D8B2;
  padding-right: 4px;
}
section.content-section .content-item .content-body .content-body-item .graph {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  height: 170px;
  opacity: .25;
}
section.content-section .content-item .content-body .content-body-item .graph svg {
  width: 100%;
  height: 170px;
}
section.content-section .content-item .content-body .content-body-item:hover {
  background: #F9F9F9;
}
section.content-section .content-item .content-body .content-body-item:hover h4 {
  color: #666666;
}
section.content-section .content-item .content-body .content-body-item:hover .stat {
  color: #5c5c5c;
  font-weight: 300;
}
section.content-section .content-item .content-body .content-body-item:last-of-type {
  border-right: none;
}
section.content-section:first-of-type .content-item .content-header h5::after {
  background: #F47264;
}
section.content-section:first-of-type .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:first-of-type .content-item .graph:nth-last-of-type(2) svg polygon {
  fill: #e05e50;
}
section.content-section:nth-of-type(2) .content-item .content-header h5::after {
  background: #56A1DB;
}
section.content-section:nth-of-type(2) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(2) .content-item .graph:nth-last-of-type(2) svg polygon {
  fill: #428dc7;
}
section.content-section:nth-of-type(3) .content-item .content-header h5::after {
  background: #FBD046;
}
section.content-section:nth-of-type(3) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(3) .content-item .graph:nth-last-of-type(2) svg polygon {
  fill: #e7bc32;
}
section.content-section:nth-of-type(4) .content-item .content-header h5::after {
  background: #28D8B2;
}
section.content-section:nth-of-type(4) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(4) .content-item .graph:nth-last-of-type(2) svg polygon {
  fill: #14c49e;
}
section.content-section:nth-of-type(5) .content-item .content-header h5::after {
  background: #735FA4;
}
section.content-section:nth-of-type(5) .content-item .graph svg polygon {
  fill: rgba(0, 0, 0, 0.4);
}
section.content-section:nth-of-type(5) .content-item .graph:nth-last-of-type(2) svg polygon {
  fill: #5f4b90;
}


.badge-warning {
  color: #212529 !important;
  background-color: #ffc107;
}
.badge {
  display: inline-block;
  padding: 0.2rem .4em;
  font-size: 75%;
  /* font-weight: 700; */
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

/* config pages css end */

.myFilterInput input {
    width: 100%;
    margin: 0 0 10px 0;
    border-radius: 0.25rem;
    padding: 0px;
    background: transparent;
    color: white;
    border: 1px solid;
    padding: 10px 0 5px 10px;
}

/* modal reated css starts */

.myModal{
  z-index: 9999;
}
.myModal .myModal-content-lg {
  width: 90%;
}
.myModal .myModal-content-md {
  width: 60%;
}
.myModal .myModal-content-sm {
  width: 30%;
}

.myModal .myModal-header {
  padding: 16px 20px 6px 20px;
  background-color: #c1c1c1 !important;
  color: #333!important;
  border: 5px solid #333;
}

.myModal .myModal-header .modal-close-btn {
  top: -15px;
  right: -15px;
  border-radius: 50%;
  background-color: #ccc;
  width: 50px;
  padding: 10px;
  height: 50px;
  cursor: pointer;
  border: 5px solid #333; 
}

/* .myModal .myModal-header .modal-close-btn:hover {
  background-color: black;
  color: white;
} */

.myModal .myModal-header .modal-close-btn i {
  font-size: 25px;
  margin: -2.5px auto;
  color: #333;
}

.myModal .myModal-ccontainer {
  background-color: #fff !important;
  border: 5px solid #333;
  border-top: none;
  height: 350px;
  overflow: auto;
}

.myModal .myModal-footer {
  color: #333 !important;
  padding: 0;
  border: 5px solid #333;
  border-top: none;
  background-color: #c1c1c1 !important;
}

.myModal .myModal-footer .footer-right button {
  margin: 10px 20px;
  padding: 5px 15px 0px 15px !important;
}

.myForm {
  margin: 10px 10px;
}

.myModal .form-group label {
  margin: 0 !important;
  font-size: 13px;
}

.myForm .myForm-control {
  display: block;
  width: 100%;
  height: calc(2rem + 2px);
  padding: .275rem .85rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 1rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.myForm .myForm-control:focus {
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.01rem rgba(0,123,255,.25);
}
/*radio button and check box starts*/
.myModal-ccontainer li {
  list-style: none;
  position: sticky;
}
.myModal-ccontainer input[type="checkbox"],
.myModal-ccontainer input[type="radio"] {
  display: none;
}
.myModal-ccontainer input[type="checkbox"]+label,
.myModal-ccontainer input[type="radio"]+label {
  padding-left: 2em;
}
.myModal-ccontainer input[type="checkbox"]+label:before,
.myModal-ccontainer input[type="checkbox"]+label:after,
.myModal-ccontainer input[type="radio"]+label:before {
    content: '';
    background: #ececec;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    z-index: -1;
    position: absolute;
    left: 0;
    transition: all ease .5s;
}
.myModal-ccontainer input[type="checkbox"]+label:after{
    border-radius: 0;
}
.myModal-ccontainer input[type="checkbox"]:checked+label:after,
.myModal-ccontainer input[type="radio"]:checked+label:before {
    border-radius: 50% 0 50% 50%;
    transition: all ease .75s;
    transform: rotate( 45deg );
    background: #666;
    border: 1px solid #666;
}
.myModal-ccontainer input[type="checkbox"]:checked+label:before {
    transition: all ease .75s;
    border-radius: 0 50% 50% 0;
    background: #666;
    border: 1px solid #666;
}
/*radio button and check box ends*/

.myModal-footer .primary-button{
  background-color: #333;
  border-radius: 0;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}
.myModal-footer .secondary-button{
  background-color: #999;
  border-radius: 0;
  color: #fff;
  border: 2px solid #fff; 
  cursor: pointer;
}

/* modal reated css ends */

/* expand css */
.my-expand-btn {
  width: 100%;
  background-color: #ccc;
  color: black;
  border: none;
  margin: 2px auto;
}

/* inline dropdown */
.my-inline-dropdown {
  display: inline-block;
  margin: 0 5px;
  width: 200px;
}

.my-inline-dropdown button {
  width: 100%;
}

.dropdown-toggle::after {
  float: right;
  display: inline-block;
  margin-left: .255em;
  /* vertical-align: -3.745em; */
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  margin-top: 6px;
}